In [216]:
import numpy as np
import pandas as pd

In [218]:
df=pd.read_csv('historical_data.csv')

In [219]:
df1=pd.read_csv('fear_greed_index.csv')

In [220]:
df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [224]:
df.shape

(211224, 16)

In [226]:
df1.head(2)

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02

In [228]:
df['Date']=pd.to_datetime(df['Timestamp IST'],format="%d-%m-%Y %H:%M").dt.date

In [230]:
df1['Date']=pd.to_datetime(df1['date']).dt.date

In [232]:
df.head(2)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,Date
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02

In [234]:
df1.head(2)

    timestamp  value classification        date        Date
0  1517463000     30           Fear  2018-02-01  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02  2018-02-02

In [236]:
df1.shape

(2644, 5)

In [238]:
merged_df=pd.merge(df,df1[['Date','classification']],on='Date',how='left')

In [240]:
merged_df.head(4)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,Date,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02,Extreme Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02,Extreme Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02,Extreme Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02,Extreme Greed

In [242]:
merged_df.shape

(211224, 18)

In [244]:
merged_df.isnull().sum()

Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
Date                0
classification      6
dtype: int64

In [246]:
merged_df = merged_df.dropna(subset=["classification"])

In [248]:
merged_df.shape

(211218, 18)

In [250]:
merged_df.isnull().sum()

Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
Date                0
classification      0
dtype: int64

In [252]:
merged_df.duplicated().sum()

0

In [254]:
merged_df['Profit']=(merged_df['Closed PnL'] >0).astype(int)

In [256]:
merged_df.head(2)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,Date,classification,Profit
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02,Extreme Greed,0
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02,Extreme Greed,0

In [258]:
merged_df.sample(5)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,Date,classification,Profit
202768,0x92f17e8d81a944691c10e753af1b1baae1a2cd0d,@107,22.44400,20.00,448.88,BUY,08-02-2025 03:15,8010.348893,Buy,0.000000,0xaf59473db0d81d6c42e1041d55e7ef01db0081c50e57...,69422270145,False,0.002000,7.330000e+14,1.740000e+12,2025-02-08,Fear,0
138319,0x28736f43f1e871e6aa8b1148d38d4994275d72c4,ENA,0.78172,191.00,149.31,BUY,27-01-2025 04:52,5895.000000,Open Long,0.000000,0x400bf5f88905e8f8c5fe041c94e0ca02047b0009d46d...,66717284458,True,0.052257,8.600000e+14,1.740000e+12,2025-01-27,Greed,0
144872,0x39cef799f8b69da1995852eea189df24eb5cae3c,FARTCOIN,0.72576,163.80,118.88,BUY,09-04-2025 23:20,-19517.100000,Close Short,-37.516752,0x0cae39cda987bfac761a0421393cfe02053e008aa606...,85378482928,True,0.035663,4.530000e+14,1.740000e+12,2025-04-09,Extreme Fear,0
176633,0xbee1707d6b44d4d52bfe19e41f8a828645437aab,HYPE,15.99200,122.99,1966.86,BUY,07-03-2025 06:56,-840.760000,Close Short,25.840199,0xf56407273bad5b1cecf5041f0d9b700201c10064f9e8...,77812587139,True,0.590056,5.800000e+14,1.740000e+12,2025-03-07,Fear,1
52269,0xb1231a4a2dd02f2276fa3c5e2a2f3436e6bfed23,HYPE,12.99000,1281.93,16652.27,BUY,12-03-2025 14:52,14067.650000,Open Long,0.000000,0xd1af2a8d81b9abdb58d3041f65c7360000fd58fa2591...,76869603921,False,1.665227,1.090000e+15,1.740000e+12,2025-03-12,Fear,0

In [260]:
#feature
features = ['Coin',"Execution Price", "Size USD", "Side", 'Start Position', "Fee", "classification",'Profit']

In [262]:
merged_df.sample(2)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,Date,classification,Profit
46807,0xb1231a4a2dd02f2276fa3c5e2a2f3436e6bfed23,@51,1.98990,80.0,159.19,BUY,29-01-2025 03:46,2253.181132,Buy,0.000000,0x671317e032fa09f3a277041cb4af690203db00611e24...,67324090441,True,0.028000,5.290000e+14,1.740000e+12,2025-01-29,Greed,0
104403,0x8477e447846c758f5a675856001ea72298fd9cb5,TNSR,0.50536,1331.8,673.04,BUY,09-11-2024 22:26,-21174.400000,Close Short,3.169684,0x100e712d7734f6bd57b50416630d9801af004ae283e3...,45621875378,True,0.235563,7.000000e+14,1.730000e+12,2024-11-09,Extreme Greed,1

In [276]:
fainal_df=merged_df[['Coin',"Execution Price", "Size USD", "Side",'Start Position', "Fee", "classification",'Profit']]

In [282]:
fainal_df.to_csv("Model_Data.csv",index=False)